/* HOME BTN */
a {
  text-decoration: none;
  background-color: #4e75ff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
}

a:hover {
  background-color: #3949ab;
}

.form {
  max-width: 350px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background: #f8f9fa;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.form label {
  display: block;
  margin-bottom: 5px;
}

.form input[type='number'] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 15px;
}

legend {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.form input[type='radio'] {
  margin-right: 5px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #0056b3;
}
